/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header,
.navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

/* home */
#about-area {
    background-color: #F9F9F9;
}

.img-fluid {
    height: auto;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: capitalize;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 15px;
}

/* cursos-course */

.course-box {
    text-align: center;
    margin-bottom: 50px;
}

.course-box i,
.course-box h4 {
    transition: .5s;
}

.course-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.course-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-box:hover>i,
.course-box:hover>h4 {
    color: #65DAF9;
}

/* skills-area */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#skill-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* contact-area */

#contact-area {
    text-align: center;
    
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3EC1D5;
    
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.contact-box i:hover {
    color: #FFF;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #3EC1D5;
}


/* project-area */

#project-area {
    background-color: #F9F9F9;
}

.project-box {
   margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#project-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#project-area .filter-btn.active,
#project-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
}


/* copy-area(footer) */

#copy-area {
    background-color: #F1F1F1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container strong {
    font-weight: bold;
    color: #444;
}

#copy-area .container strong:hover {
    text-decoration: none;
    color: #3EC1D5;
}

/* responsive */
@media(max-width: 768px) {

    /* geral */
    .container {
        padding: 20px 0;
    }

    /* home about */
    #about-area img {
        margin-top: 100px;
    }

    /* skills-area */
    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size: 16px;
    }



}


@media(max-width: 425px) {
     
    /* home-about */
  
    .main-title {
        font-size: 30px;
    }

    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* skills-area */
    .circle-box {
        width: 50%;
    }
  
      /* project-area */
    #project-area .filter-btn {
        margin-bottom: 20px;
    }

    .project-box {
        width: 50%;
    }

    /* contact */
    .contact-box {
        border: none;
        margin-bottom: 0;
    }

}